
.brand {
    cursor: pointer;
}

.form-control {
    border-radius: 3px;
    position: relative;

}

.form-group {
    margin: 0px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 25px;
    top: 12px;
    color: blue;
}

button {
    position: relative;
}

button span {
    position:absolute;
    top: 30px;
}